@import '../../styles/variables.scss';

.form {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1000px;
    margin: 0vw auto 4vw auto;

    justify-content: space-between;
    align-items: center;
    text-align: left;

    background-color: $table-bg;
    padding: 12px 14px 12px 14px;

    border-bottom: 1px solid $row-border;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000001F;

    @media screen and (max-width: 1000px){
        justify-content: flex-start
        }
    div {
        min-width: 30px;
        text-align: center;
        font-size: larger;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &:first-of-type {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
        input {
        width: 24%;
        min-width: 200px;
        border: solid 1px $table-border;
        padding: 8px 5px;
        margin-bottom: 8px;
        margin-right: 5px;
    }
}

.label {
    display:none;
    &.visible {
        display: block;
        width: 100%;
        color:$text-main;
        text-align: center;
    }
}