tr {
    display: flex;
    //flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: 1px solid rgb(175, 165, 165);
    padding: 5px 10px;
    }

td {
    width: 20%;
}

td:first-of-type {
    width: 5%;
    @media screen and (max-width: 765px){
        display:none;
    }
}

td:nth-of-type(5) {
    @media screen and (max-width: 765px){
        display:none;
    }
}

td:nth-of-type(6) {
    width: 8%;
}

td:nth-of-type(7) {
    width: 7%;
}

.hidden{
    display: none;

}