.errorMessage, .noWordsMessage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1000px;
    margin: 4vw auto;
    justify-content: center;
    align-items: center;
    padding: 16px;

    p{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: #FB7575;
        margin-top: 12px;
    }
}

.error_img {
    display: block;
    max-width: 360px;
    object-fit: contain;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}



