@import './variables';

.button {
    color: $text-status;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 28px;
    background-color: $btn;
    transition: background-color 0.5s ease 0s;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 0 #23262f3b;
    position: relative;
    top: 0;
    cursor: pointer;
        &:hover {
            background-color: $btn-hover;
            transform: translateY(-3px);
        }
        &:active {
            background-color: $btn-press;
            top: 3px;
            box-shadow: 0 0px 0 #23262f3b;
        }
    &__long {
        display: block;
        width: 170px;
        margin: 45px auto 0 auto;
    }
}

.icon {
    position: relative;
    top: 0;
    &:hover{
        transform: translateY(-3px);
        cursor: pointer;
    }
    &__edit {
        color: $text-main;
        &:hover {
            color: $info;
        }
    }
    &__delete {
        color: $text-main;
        &:hover {
            color: $error;
        }
    }
    &__save {
        color: $text-main;
        &:hover {
            color: $success;
        }
    }
    &__cancel {
        color: $text-main;
        &:hover {
            color: $error;
        }
    }
    &:active {
        top: 3px;
        color: $text-second;
    }
}






