@import './variables';

.button {
    background-color: $btn;
    padding: 6px 12px;
    color: $text-status;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
        &:hover {
            background-color: $btn-hover;
            transform: translateY(-5px);
        }
    &__long {
        display: block;
        width: 170px;
        margin: 45px auto 0 auto;
    }
}

.icon {
    &__edit {
        color: $text-main;
        &:hover {
            color: $info;
            transform: translateY(-5px);
            cursor: pointer;
        }
    }
    &__delete {
        color: $text-main;
        &:hover {
            color: $error;
            transform: translateY(-5px);
            cursor: pointer;
        }
    }
    &__save {
        color: $text-main;
        &:hover {
            color: $success;
            transform: translateY(-5px);
            cursor: pointer;
        }
    }
    &__cancel {
        color: $text-main;
        &:hover {
            color: $error;
            transform: translateY(-5px);
            cursor: pointer;
        }
    }
}