@import './variables';

.button {
    color: $text-status;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 28px;
    background-color: $btn;
    transition: background-color 0.5s ease 0.3s;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 0 #23262f3b;
    position: relative;
    top: 0;
    cursor: pointer;
        &:hover {
            background-color: $btn-hover;
            transform: translateY(-3px);
        }
        &:active {
            background-color: $btn-press;
            top: 3px;
            box-shadow: 0 0px 0 #23262f3b;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px lightskyblue;
            box-shadow: rgb(114, 47, 55,0.4) 0px 0px 0px 2px, rgb(114, 47, 55,0.65) 0px 4px 6px -1px, rgb(114, 47, 55,0.08) 0px 1px 0px inset;
        }
}

.icon {
    position: relative;
    top: 0;
    &:hover{
        transform: translateY(-3px);
        cursor: pointer;
    }
    &:active {
        top: 3px;
        color: $text-second;
    }
    &__edit {
        color: $text-main;
        &:hover {
            color: $info;
        }
    }
    &__delete {
        color: $text-main;
        &:hover {
            color: $error;
        }
    }
    &__save {
        color: $text-main;
        &:hover {
            color: $success;
        }
    }
    &__cancel {
        color: $text-main;
        &:hover {
            color: $error;
        }
    }
    &__arrow {
        color: $text-main;
        font-size: 24px;
        &:hover {
            color: $text-color;
        }
    }
}






