@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

body {
    min-width: 350px;
}

#root {
    min-height: 100vh;
}

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main {
    margin: 5vh auto;
    position: relative;
    display: flex;
    flex-grow: 1;
}

._edit, ._delete {
    cursor: pointer;
    &:hover {
        transform: translateY(-5px);
    }
}

._edit {
    color: #ffa500;
    &:hover {
        color: #efc982;
    }
}

._delete {
    color: #ae1d1d9e;
    &:hover {
        color: #d64a4a9e;
    }
}

._hidden{
    display: none;
}