$text-main: #40464C;
$text-second: #696C71;
$text-status: #FBFBFB;

$table-bg: #FBFBFB;
$table-head-bg: #F8F9FD;

$row-hover: #F3F5FB;
$row-checked: #BEDAFC;

$btn-aqua: #3EB9CA;
$btn-violet: #7A43EE;
$btn-pink: #EF2EAE;

$btn-inact: #748998;
$btn-ok: #3b7c3b;
$btn-no: #ae3849;

$action: #CFD6DC;
$action-hover: #B3C7DA;
$checkbox-line: #9FACB2;
$checkbox-checked: #3B8BEA;

$border: #D5DBE1;
$border-hover: #707A86;

