//Colors
$text-main: #4F4F4F;
$text-second: #BDBDBD;
$text-status: #FBFBFB;
$text-color:#3ABDB5;

$bg:#efdbddbf;
$bg-header: #805F63;

$table-bg: #fff8f9;
$table-border: #CC999E;

$row-hover: #fcf1f3;
$row-edit: #ffe5e8;
$row-border: #E5ACB1;

$success: rgb(83, 193, 130);
$warning: #FFB069;
$error: rgb(251, 117, 117);
$info: rgb(76, 144, 235);

$btn: #CC999E;
$btn-hover: #E5ACB1;
$btn-press: #FFD9DC;






