@import '../../styles/variables.scss';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

  &__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    min-height: 70vh;
  }

  &__game {
    color: $text-main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    max-width: 1000px;
    margin: 4vw auto;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
    row-gap: 4vw;
    padding: 16px;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $bg;
}




