@import '../../styles/variables.scss';

//Change from here
.playground {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 4vw auto;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
    row-gap: 4vw;
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        font-size: calc(7px + 2vmin);
        width: 230px;
        min-height: 285px;
        border-radius: 6px;
        box-shadow: 0px 1px 2px 0px #0000001F;
        padding: 14px;
        margin: 24px;
        background-color: $table-bg;

        div:first-of-type:not(.card_translation) {
            color: $text-color;
            font-size: calc(24px + 2vmin);
            text-transform: capitalize;
        }

        &:hover{
            background-color: $row-hover;
        }
    }
}

.card_translation {
    color: $btn;
    font-size: calc(12px + 2vmin);
    text-transform: capitalize;
    padding: 0px 28px 12px 28px;
}