@import '../../styles/variables.scss';

.app {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #805F63;
        padding: 24px;
    }
    &__title {
        color: #FBFBFB;
        font-weight: bold;
        font-size: calc(14px + 2vmin);
        ;
        line-height: 37px;
        span {
            color: #3ABDB5;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: calc(14px + 2vmin);
            line-height: 32px;
            color: #FBFBFB;
            li {
                color: #FBFBFB;
                margin: 0 8px;
                a:hover {
                    color: #3ABDB5;
                }
            }
        }
    }
}
