@import '../../styles/variables.scss';

.app {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-header;
        padding: 24px;
    }
    &__title {
        color: $text-status;
        font-weight: bold;
        font-size: calc(14px + 2vmin);
        line-height: 37px;
        span {
            color: $text-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: calc(14px + 2vmin);
            line-height: 32px;
            color: $text-status;
            li {
                color: $text-status;
                margin: 0 8px;
                a:hover {
                    color: $text-color;
                }
            }
        }
    }
}
