@import '../../styles/variables.scss';

.app {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #282c34;
        padding: 24px;
    }
    &__title {
        font-weight: bold;
        font-size: calc(14px + 2vmin);
        color: #fff;
        line-height: 37px;
        span {
            color: $btn-pink;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: calc(14px + 2vmin);
            color: #fff;
            line-height: 32px;
            li {
                margin: 0 8px;
                a:hover {
                    color: $btn-inact;
                }
            }
        }
    }
}
