@import '../../styles/variables.scss';

.app {
    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-header;
        padding: 24px;
        min-height: 80px;
        div {
            font-weight: bold;
            font-size: calc(8px + 2vmin);
            color: $text-status;
            line-height: 32px;
        }
    }
}
