@import '../../styles/variables.scss';

.app {
    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #4c3c3c;
        padding: 24px;
        min-height: 80px;
        div {
            font-weight: bold;
            font-size: calc(8px + 2vmin);
            color: #FBFBFB;
            line-height: 32px;
        }
    }
}
